.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Header-logo {
  align-items: flex-start;
  height: 10vh;
  display: flex;
  width: 30vh;
  padding: 18px 0px 18px 18px;
}